<div class="content-wrapper">
    <div class="box-wrapper">
        <div class="plan-box">
            <div class="plan-box__header">
                <div class="header__main-title">Free</div>
                <div class="header__sub-title">0 PLN / MONTH</div>
            </div>
            <div class="plan-box__body">
                <div class="body__header">Main features</div>
                <ul class="body__list">
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">Up to 5 products</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">Refresh 2 times a day</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">E-mail notifications</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-minus"></i></div>
                        <div class="item__content">SMS notifications</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-minus"></i></div>
                        <div class="item__content">24h Support</div>
                    </li>
                </ul>
            </div>
            <div class="plan-box__footer">
                <input type="button" value="Currently used" class="footer__button">
            </div>
        </div>

        <div class="plan-box">
            <div class="plan-box__header">
                <div class="header__main-title">Basic</div>
                <div class="header__sub-title">4 PLN / MONTH</div>
            </div>
            <div class="plan-box__body">
                <div class="body__header">Main features</div>
                <ul class="body__list">
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">Up to 5 products</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">Refresh 2 times a day</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">E-mail notifications</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-minus"></i></div>
                        <div class="item__content">SMS notifications</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-minus"></i></div>
                        <div class="item__content">24h Support</div>
                    </li>
                </ul>
            </div>
            <div class="plan-box__footer">
                <input type="button" value="Select" class="footer__button">
            </div>
        </div>

        <div class="plan-box">
            <div class="plan-box__header">
                <div class="header__main-title">Small Business</div>
                <div class="header__sub-title">12 PLN / MONTH</div>
            </div>
            <div class="plan-box__body">
                <div class="body__header">Main features</div>
                <ul class="body__list">
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">Up to 5 products</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">Refresh 2 times a day</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">E-mail notifications</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-minus"></i></div>
                        <div class="item__content">SMS notifications</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-minus"></i></div>
                        <div class="item__content">24h Support</div>
                    </li>
                </ul>
            </div>
            <div class="plan-box__footer">
                <input type="button" value="Currently used" class="footer__button">
            </div>
        </div>

        <div class="plan-box">
            <div class="plan-box__header">
                <div class="header__main-title">PRO</div>
                <div class="header__sub-title">60 PLN / MONTH</div>
            </div>
            <div class="plan-box__body">
                <div class="body__header">Main features</div>
                <ul class="body__list">
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">Up to 5 products</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">Refresh 2 times a day</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-check"></i></div>
                        <div class="item__content">E-mail notifications</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-minus"></i></div>
                        <div class="item__content">SMS notifications</div>
                    </li>
                    <li class="list__item">
                        <div class="item__icon"><i class="fas fa-minus"></i></div>
                        <div class="item__content">24h Support</div>
                    </li>
                </ul>
            </div>
            <div class="plan-box__footer">
                <input type="button" value="Currently used" class="footer__button">
            </div>
        </div>
    </div>
</div>
