@import "../../config";

.registration-dialog {
  box-sizing: content-box;
  width: 100% !important;
  //padding: 100px;

  form {
    display: flex;
    flex-direction: column;
    //padding: 100px;
    align-items: center;

    mat-form-field {
      width: 200px;
      margin: auto;
    }

    mat-checkbox {
      padding-bottom: 20px;
    }

    .registration-button {
      @include button-outline--primary;
      width: 150px;
      height: 35px;
      font-size: 17px;

      margin-top: 20px;
    }

    .registration-button:hover {
      @include button-outline--primary-selected;
      color: #fff;
    }
  }
}


