<div class="wrapper">
    <mat-toolbar color="primary" role="heading" class="navbar">
        <mat-toolbar-row class="navbar__logo">
            <span>Price Detector <i class="fa fa-angle-double-right"></i></span>
        </mat-toolbar-row>
        <mat-toolbar-row class="navbar__action">
            <!--<button mat-button (click)="onLoginDialogOpen()">Login</button>-->
            <!--<button mat-button (click)="onRegistrationDialogOpen()">Registration</button>-->
            <button class="menu-button" (click)="onLoginDialogOpen()">Login</button>
            <button class="menu-button" (click)="onRegistrationDialogOpen()">Registration</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="content-wrapper">
        <section class="save-section">
            <div class="bg-shadow"></div>
            <div class="section-wrapper">
                <div class="section__title">WHAT WE OFFER</div>
                <div class="box-wrapper">
                    <div class="box box__time">
                        <div class="box--header">1 STORE</div>
                        <div class="box--img"><i class="far fa-clock"></i></div>
                    </div>
                    <div class="box box__time">
                        <div class="box--header">SIMPLIFY EVERYDAY ACTIVITY</div>
                        <div class="box--img"><i class="far fa-clock"></i></div>
                    </div>
                    <div class="box box__time">
                        <div class="box--header">DIFFERENT PLANS</div>
                        <div class="box--img"><i class="far fa-clock"></i></div>
                    </div>
                    <div class="box box__time">
                        <div class="box--header">SAVE TIME</div>
                        <div class="box--img"><i class="far fa-clock"></i></div>
                    </div>
                    <div class="box box__money">
                        <div class="box--header">SAVE MONEY</div>
                        <div class="box--img"><i class="fas fa-money-bill-wave"></i></div>
                    </div>
                    <div class="box box__satisfaction">
                        <div class="box--header">GROW YOUR SATISFACTION</div>
                        <div class="box--img"><i class="far fa-smile-beam"></i></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="movie-section">
            <div class="section-wrapper">

                <div class="manual-part">
                    <h1 class="manual-part__header">ONLY 3 STEPS TO MAKE YOUR LIFE EASIER</h1>
                    <ul>
                        <li class="manual-part__point">
                            <div class="point__icon"><i class="fas fa-check"></i></div>
                            <div class="point__content">CREATE FREE ACCOUNT</div>
                        </li>
                        <li class="manual-part__point">
                            <div class="point__icon"><i class="fas fa-check"></i></div>
                            <div class="point__content">PASTE PRODUCT URL INTO SEARCH
                                PANEL</div>
                        </li>
                        <li class="manual-part__point">
                            <div class="point__icon"><i class="fas fa-check"></i></div>
                            <div class="point__content">WAIT FOR NOTIFICATION ABOUT
                            PRODUCT SALE</div>
                        </li>
                    </ul>
                </div>
                <div class="movie-part">
                    <iframe class="box__movie" src="https://www.youtube.com/embed/3aqpRUGlsSw" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                </div>

            </div>
        </section>

        <section class="brands-section">
            <div class="bg-shadow"></div>
            <div class="section-wrapper">
                <div class="box__brand box__brand--x-kom"></div>
                <div class="box__brand box__brand--morele"></div>
                <div class="box__brand box__brand--rtv"></div>
                <div class="box__brand box__brand--aliexpress"></div>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        &copy; Paweł Cybulski 2019 | All rights reserved
    </footer>
</div>
